@model PaymentProcessing
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
          window.history.forward()
         }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function() { void (0) }
    </script>
</head>

@* <form asp-controller="Home" asp-action="Index" method="post">
        <div class="form-group row">
            <label asp-for="app_id"></label>
            <div class="col-md-10">
                <input asp-for="app_id" />
                <span asp-validation-for="app_id" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="app_key"></label>
            <div class="col-md-10">
                <input asp-for="app_key" />
                <span asp-validation-for="app_key" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Name"></label>
            <div class="col-md-10">
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FeeTypeCode"></label>
            <div class="col-md-10">
                <input asp-for="FeeTypeCode" />
                <span asp-validation-for="FeeTypeCode" class="text-danger"></span>
            </div>
        </div>

            <div class="form-group row">
                <label asp-for="Mobile"></label>
                <div class="col-md-10">
                <input asp-for="Mobile" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group row">
                <label asp-for="Currency"></label>
                <div class="col-md-10">
                    <input asp-for="Currency" />
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Amount"></label>
                <div class="col-md-10">
                    <input asp-for="Amount" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email"></label>
                <div class="col-md-10">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="order_id"></label>
                <div class="col-md-10">
                    <input asp-for="order_id" />
                    <span asp-validation-for="order_id" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="order_desc"></label>
                <div class="col-md-10">
                    <input asp-for="order_desc" />
                    <span asp-validation-for="order_desc" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="MobileNetwork"></label>
                <div class="col-md-10">
                    <input asp-for="MobileNetwork" />
                    <span asp-validation-for="MobileNetwork" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ReturnURL"></label>
                <div class="col-md-10">
                    <input asp-for="ReturnURL" />
                    <span asp-validation-for="ReturnURL" class="text-danger"></span>
                </div>
            </div>

        <br />
        <div>
            <button type="submit">Submit</button>
        </div>
</form> *@



<form asp-controller="Home" asp-action="Index" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="app_id"></label>
                <input asp-for="app_id" class="form-control" />
                <span asp-validation-for="app_id" class="text-danger"></span>
            </div>
        
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="app_key"></label>
                <input asp-for="app_key" class="form-control" />
                <span asp-validation-for="app_key" class="text-danger"></span>
            </div>
        
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="FeeTypeCode"></label>
                <input asp-for="FeeTypeCode" class="form-control" />
                <span asp-validation-for="FeeTypeCode" class="text-danger"></span>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="Currency"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
    
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="order_id"></label>
                <input asp-for="order_id" class="form-control" />
                <span asp-validation-for="order_id" class="text-danger"></span>
            </div>
        
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="order_desc"></label>
                <input asp-for="order_desc" class="form-control" />
                <span asp-validation-for="order_desc" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="MobileNetwork"></label>
                <input asp-for="MobileNetwork" class="form-control" />
                <span asp-validation-for="MobileNetwork" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="ReturnURL"></label>
                <input asp-for="ReturnURL" class="form-control" />
                <span asp-validation-for="ReturnURL" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-md-3 col-lg-3" style="margin-right:0px">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
