@model PaymentProcessing
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
          window.history.forward()
         }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function() { void (0) }
    </script>
</head>

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="app_id"></label>
                <input asp-for="app_id" class="form-control" />
                <span asp-validation-for="app_id" class="text-danger"></span>
            </div>
        
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="app_key"></label>
                <input asp-for="app_key" class="form-control" />
                <span asp-validation-for="app_key" class="text-danger"></span>
            </div>
        
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="FeeTypeCode"></label>
                <input asp-for="FeeTypeCode" class="form-control" />
                <span asp-validation-for="FeeTypeCode" class="text-danger"></span>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="mobile"></label>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="currency"></label>
                <input asp-for="currency" class="form-control" />
                <span asp-validation-for="currency" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="amount"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
    
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="email"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="order_id"></label>
                <input asp-for="order_id" class="form-control" />
                <span asp-validation-for="order_id" class="text-danger"></span>
            </div>
        
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="order_desc"></label>
                <input asp-for="order_desc" class="form-control" />
                <span asp-validation-for="order_desc" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="mobile_network"></label>
                <input asp-for="mobile_network" class="form-control" />
                <span asp-validation-for="mobile_network" class="text-danger"></span>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <label asp-for="return_url"></label>
                <input asp-for="return_url" class="form-control" />
                <span asp-validation-for="return_url" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-md-3 col-lg-3" style="margin-right:0px">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
